workflows/01-router.json
{
  "name": "01-router",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "fbe6fbb4-62db-4ae6-98b6-d6708a0cbde3",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -816,
        -16
      ],
      "webhookId": "c8ffc9c6-38a9-472c-9d4a-000e0919ff79",
      "credentials": {
        "telegramApi": {
          "id": "A3yL97a4XLc4cRlG",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.mime_type }}",
                    "rightValue": "audio/ogg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cdee1272-ddc3-43a3-bba0-b3337e0a454d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "969c1897-cd83-4e18-a95b-9080210d2810",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "={{ $json.message.photo[0].file_size }}",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -576,
        -16
      ],
      "id": "36f940b1-da62-4128-8d9b-67d0d0af4157",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tMpbKni0glM5zrkF",
          "mode": "list",
          "cachedResultUrl": "/workflow/tMpbKni0glM5zrkF",
          "cachedResultName": "02-image-processor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -272,
        112
      ],
      "id": "9ba18686-7805-4c6e-a52c-3953fdd681ff",
      "name": "Call '02-image-processor'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YNl9CzDbaLR2TEWO",
          "mode": "list",
          "cachedResultUrl": "/workflow/YNl9CzDbaLR2TEWO",
          "cachedResultName": "03-audio-processor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -32,
        -80
      ],
      "id": "50ed85db-298b-4652-a8de-6b098d76b7ce",
      "name": "Call '03-audio-processor'"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call '03-audio-processor'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call '02-image-processor'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '02-image-processor'": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "ZmoZR16fLKp6vajl",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1fc6204f-9660-4d2d-9139-46e7b4668d9d",
  "meta": {
    "instanceId": "e458d89e0fb8d37487b57b587f3fef3cfb1e7fafe0dcb945464e4d8f8e9790f8"
  },
  "id": "0V6rOq5VQkMXSaEq",
  "tags": []
}