workflows/Controle Financeiro com Telegram, Gemini, Obsidian.json
{
  "name": "Controle Financeiro com Telegram, Gemini, Obsidian",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "412943af-7c1f-4ed3-ac4c-3cb0f4aa64a9",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -816,
        -16
      ],
      "webhookId": "6a299839-242f-42a2-adaf-8d6698933561",
      "credentials": {
        "telegramApi": {
          "id": "pA8h2sk2I57E68mE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.mime_type }}",
                    "rightValue": "audio/ogg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cdee1272-ddc3-43a3-bba0-b3337e0a454d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "969c1897-cd83-4e18-a95b-9080210d2810",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "={{ $json.message.photo[0].file_size }}",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -576,
        -16
      ],
      "id": "47d7d448-49fe-40d6-b826-7a542fff17fd",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo.reverse()[0].file_id }}",
        "additionalFields": {}
      },
      "id": "49dcdd84-79ee-40df-a5c2-c54851c8e021",
      "name": "Telegram GetFile (imagem)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -576,
        432
      ],
      "webhookId": "4c6deb3b-e345-4bc0-afb0-a71b019c5f63",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "pA8h2sk2I57E68mE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nfe-scraper:8000/ingest/",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -352,
        432
      ],
      "id": "fe831830-fd24-453f-a267-6ac623a0223b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "5009fbd5-65af-4827-bdeb-395067b8100c",
      "name": "Telegram GetFile (áudio)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -352,
        -32
      ],
      "webhookId": "4c6deb3b-e345-4bc0-afb0-a71b019c5f63",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "pA8h2sk2I57E68mE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.properties.fluxo.select.name == 'Entrada' ? '💰 Renda' : '💸 Despesa' }} de {{ $json.properties.categoria.multi_select[0].name }} com {{ $json.properties.descricao.title[0].text.content }} no valor de R$ {{ $json.properties.valor.number.toFixed(2).replace('.', ',') }} registrada com sucesso!{{ $json.properties.meio_pagamento.select.name != 'Não informado' ? '\\n💳 Pago via: ' + $json.properties.meio_pagamento.select.name : '' }} em {{ $json.properties.data.date.start }}✅\n📓 Notion: OK",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        -32
      ],
      "id": "ccfe52d6-87ad-4a00-ba01-05f731ea95cd",
      "name": "Send a text message",
      "webhookId": "20574220-0b4b-443b-ba61-43d19731ea00",
      "credentials": {
        "telegramApi": {
          "id": "pA8h2sk2I57E68mE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Você é um assistente financeiro que analisa gravações de voz em português do Brasil.\nSua tarefa é **transcrever o áudio** e **extrair os seguintes dados de uma despesa**:\n\n{\n  \"descricao\": \"\",\n  \"categoria\": \"\",\n  \"data\": \"\",\n  \"valor\": 0,\n  \"meio_pagamento\": \"\",\n  \"fluxo\": \"\"\n}\n\nRegras:\n- \"descricao\": descreva em poucas palavras a despesa mencionada (ex: \"almoço na padaria\", \"uber para o trabalho\", \"remédio na farmácia\").\n- \"categoria\": classifique em uma das opções: [\"Alimentação\", \"Transporte\", \"Saúde\", \"Cuidado Pessoal\", \"Moradia\", \"Lazer\", \"Presentes\", \"Educação\", \"Investimento\", \"Imposto\", \"Outros\", \"Salário\", \"Renda Extra\", \"Vale Alimentação\"].\n- \"data\": use o formato ISO (YYYY-MM-DD).  \n  - Se o áudio mencionar “hoje”, “ontem” ou um dia da semana, interprete em relação à **data da mensagem** (DataMensagem: {{ new Date($node[\"Telegram Trigger\"].json.message.date * 1000).toISOString().slice(0,10) }}).\n- \"valor\": número em reais (aceite expressões como “45 reais”, “R$ 23,50”, “vinte e cinco reais”).  \n  - Se o valor não for mencionado, coloque 0.\n- \"fluxo\": Classifique como \"Entrada\" se o dinheiro estiver entrando na conta (salário, venda, resgate de investimento) e \"Saída\" se estiver saindo (compras, pagamentos, aplicação em investimento).\nImportante:\n- Sempre responda **somente JSON válido**, sem texto extra, explicações ou comentários. \n- Não adicione \"```json\" no inicio comece direto em \"{\",  .\n- Não invente valores nem categorias — se não tiver certeza, use “Outros”.\n- Se o áudio mencionar a forma de pagamento, adicione também o campo meio_pagamento (ex: débito, crédito, pix, dinheiro, vale alimentação).\n- Exemplo de saída:\n{\n  \"descricao\": \"almoço no restaurante\",\n  \"categoria\": \"Alimentação\",\n  \"data\": \"2025-10-28\",\n  \"valor\": 45.90,\n  \"fluxo\": \"Saída\"\n}\n",
        "inputType": "binary",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        -32
      ],
      "id": "e2538465-719f-4fe6-9837-5ba64a53f571",
      "name": "Analyze audio1",
      "credentials": {
        "googlePalmApi": {
          "id": "VXllhQDuyXH4KCWs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// pegue o texto do nó do Gemini\nconst raw = $input.first().json.content.parts[0].text\n\n// remove cercas de markdown tipo ```json ... ```\nlet cleaned = raw.trim()\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .replace(/^\\uFEFF/, ''); // remove BOM se existir\n\n\nlet data;\ntry {\n  data = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(\"Não consegui fazer JSON.parse do retorno do modelo. Conteúdo:\\n\" + cleaned);\n}\n\n// agora 'data' é um objeto JS\nreturn [{\n  descricao: data.descricao || '',\n  categoria: data.categoria || 'Outros',\n  data: data.data || new Date().toISOString().slice(0,10),\n  valor: Number(data.valor) || 0,\n  // Adicionando o meio de pagamento (se não houver, fica vazio ou 'N/A')\n  meio_pagamento: data.meio_pagamento || 'Não informado',\n  // Adicionamos o fluxo aqui. Se a IA esquecer, o padrão será 'Saída'\n  fluxo: data.fluxo || 'Saída'\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -32
      ],
      "id": "b05b2bce-8efa-4b98-b92b-46efbbd6df33",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "30d81ff4-8cf1-8055-9c2b-ef59b1c4fcdb",
          "mode": "list",
          "cachedResultName": "Controle Financeiro",
          "cachedResultUrl": "https://www.notion.so/30d81ff48cf180559c2bef59b1c4fcdb"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "descricao|title",
              "title": "={{ $json.descricao }}"
            },
            {
              "key": "categoria|multi_select",
              "multiSelectValue": "={{ $json.categoria }}"
            },
            {
              "key": "valor|number",
              "numberValue": "={{ $json.valor }}"
            },
            {
              "key": "data|date",
              "includeTime": false,
              "date": "={{ $json.data }}"
            },
            {
              "key": "meio_pagamento|select",
              "selectValue": "={{ $json.meio_pagamento }}"
            },
            {
              "key": "fluxo|select",
              "selectValue": "={{ $json.fluxo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        288,
        -32
      ],
      "id": "b5e0713c-7277-49f3-a162-b9fba57ff66c",
      "name": "Create a database page1",
      "alwaysOutputData": false,
      "credentials": {
        "notionApi": {
          "id": "FGFKNBYjyiyx2XGC",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Captura e Limpeza do JSON original do Gemini\nconst raw = $input.first().json.content.parts[0].text;\nlet cleaned = raw.trim()\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .replace(/^\\uFEFF/, '');\n\nlet data;\ntry {\n  data = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(\"Erro ao processar JSON do Gemini.\");\n}\n\n// 2. FUNÇÃO DE LIMPEZA (Remove acentos, espaços e caracteres especiais)\nfunction limparTexto(texto) {\n  return texto\n    .toString()\n    .normalize('NFD')               // Decompõe caracteres acentuados\n    .replace(/[\\u0300-\\u036f]/g, \"\") // Remove os acentos\n    .replace(/[^a-zA-Z0-9\\s-_]/g, \"\") // Remove símbolos (exceto - e _)\n    .trim()\n    .replace(/\\s+/g, '-');          // Troca espaços por hífens\n}\n\n// 3. Preparação dos Campos\nconst categoriaLimpa = limparTexto(data.categoria || 'Outros');\nconst fluxoOriginal = data.fluxo || 'Saída';\nconst fluxoLetra = fluxoOriginal.trim().toUpperCase().substring(0, 1); // 'E' ou 'S'\nconst valor = Number(data.valor) || 0;\nconst valor_saldo = fluxoLetra === 'S' ? -Math.abs(valor) : Math.abs(valor);\n\n// 4. Data e Hora\nconst fuso = 'America/Sao_Paulo';\nconst agora = new Date();\nconst criadoEm = agora.toLocaleString('pt-BR', { timeZone: fuso });\n\nconst dataRef = data.data || agora.toISOString().slice(0, 10);\nconst dataLimpa = dataRef.replace(/-/g, '');\nconst horaLimpa = new Date().toLocaleTimeString('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false\n}).replace(':', '');\n\n// 5. Construção do Nome do Arquivo e Caminho (Tudo Limpo)\nconst valorParaNome = valor.toFixed(2).replace('.', '-');\nconst nomeArquivo = `${dataLimpa}_${horaLimpa}_${categoriaLimpa}_${valorParaNome}_${fluxoLetra}.md`;\n\n// IMPORTANTE: Use o caminho que o n8n enxerga dentro do container\nconst PATH_BASE = \"/data/obsidian/Financas/Lancamentos\";\nconst fullPath = `${PATH_BASE}/${nomeArquivo}`.trim();\n\n// 6. Conteúdo para o Obsidian (Aqui pode ter acentos e espaços normal)\nconst conteudoObsidian = `---\ndescricao: \"${data.descricao || ''}\"\ncategoria: \"${data.categoria || 'Outros'}\"\ndata: ${dataRef}\nvalor: ${valor}\nvalor_saldo: ${valor_saldo}\nmeio_pagamento: \"${data.meio_pagamento || 'Não informado'}\"\nfluxo: \"${fluxoOriginal}\"\ntags: [Finanças/Lançamento]\ncriado_em: ${criadoEm}\n---\n# Registro de Finanças\n${data.descricao || ''}`;\n\nreturn [{\n  json: {\n    nome_arquivo: nomeArquivo,\n    caminho_completo: fullPath,\n    conteudo: conteudoObsidian,\n\n    // Dados para o Telegram (o que você quer na mensagem)\n    valor: valor,\n    data: dataRef,\n    descricao: data.descricao || '',\n    categoria: data.categoria || 'Outros',\n    fluxo: fluxoOriginal,\n    meio_pagamento: data.meio_pagamento || 'Não informado'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        208
      ],
      "id": "28e4fc43-28b6-4786-8f91-be85c108f169",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Code in JavaScript2').item.json.caminho_completo }}",
        "dataPropertyName": "arquivo_md",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        288,
        208
      ],
      "id": "dab57391-c418-4013-a6a1-65dcdad2b74b",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "conteudo",
        "binaryPropertyName": "arquivo_md",
        "options": {
          "fileName": "={{ $json.nome_arquivo }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        64,
        208
      ],
      "id": "c2ec35d6-2d55-4727-ac7e-8fac31d790c9",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        192
      ],
      "id": "1f545f14-6d8f-4492-988d-0f141116ba3c",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        672,
        192
      ],
      "id": "bf226777-5e00-4e60-a411-3e2a45b18405",
      "name": "Wait",
      "webhookId": "03a5b16f-853a-452d-9be0-5673145162b7"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Code in JavaScript2').item.json.fluxo == 'Entrada' ? '💰 Renda' : '💸 Despesa' }} de {{ $('Code in JavaScript2').item.json.categoria }} com {{ $('Code in JavaScript2').item.json.descricao }} no valor de R$ {{ $('Code in JavaScript2').item.json.valor.toFixed(2).replace('.', ',') }} registrada com sucesso!{{ $('Code in JavaScript2').item.json.meio_pagamento != 'Não informado' ? '\\n💳 Pago via: ' + $('Code in JavaScript2').item.json.meio_pagamento : '' }} em {{ $('Code in JavaScript2').item.json.data }}✅\n💎 Obsidian: OK",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        192
      ],
      "id": "64463492-27b2-47b2-be97-c4ea7b82a79a",
      "name": "Send a text message1",
      "webhookId": "20574220-0b4b-443b-ba61-43d19731ea00",
      "credentials": {
        "telegramApi": {
          "id": "pA8h2sk2I57E68mE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "conteudo_pai",
        "binaryPropertyName": "arquivo_md",
        "options": {
          "fileName": "={{ $('HTTP Request').item.json.payload.issuance_date_time.split(' ')[0].split('/').reverse().join('') }}_{{ $('HTTP Request').item.json.payload.issuance_date_time.split(' ')[1].replace(':', '').substring(0,4) }}_Alimentacao_{{ $('HTTP Request').item.json.payload.total_paid.toFixed(2).replace('.', '') }}_S.md"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        64,
        432
      ],
      "id": "be6ef6e1-cebf-4ba4-a4f3-0715de960430",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/obsidian/Financas/Lancamentos/{{ $('HTTP Request').item.json.payload.issuance_date_time.split(' ')[0].split('/').reverse().join('') }}_{{ $('HTTP Request').item.json.payload.issuance_date_time.split(' ')[1].replace(':', '').substring(0,4) }}_Alimentacao_{{ $('HTTP Request').item.json.payload.total_paid.toFixed(2).replace('.', '') }}_S.md",
        "dataPropertyName": "arquivo_md",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        288,
        432
      ],
      "id": "606dd5be-ea54-47a0-b2af-a6f5b3a4e58d",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "conteudo_filho",
        "binaryPropertyName": "arquivo_md",
        "options": {
          "fileName": "={{ $('HTTP Request').item.json.payload.issuance_date_time.split(' ')[0].split('/').reverse().join('') }}_{{ $('HTTP Request').item.json.payload.issuance_date_time.split(' ')[1].replace(':', '').substring(0,4) }}_{{ ($itemIndex + 1).toString().padStart(2, '0') }}_{{ $('Split Out').item.json.name.replace(/[^a-zA-Z0-9]/g, '_') }}.md"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        64,
        672
      ],
      "id": "428ddc5d-513d-4454-83b4-32b9e32ed78e",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/obsidian/Financas/Lancamentos/Descritivo/{{ $('HTTP Request').item.json.payload.issuance_date_time.split(' ')[0].split('/').reverse().join('') }}_{{ $('HTTP Request').item.json.payload.issuance_date_time.split(' ')[1].replace(':', '').substring(0,4) }}_{{ ($itemIndex + 1).toString().padStart(2, '0') }}_{{ $('Split Out').item.json.name.replace(/[^a-zA-Z0-9]/g, '_') }}.md",
        "dataPropertyName": "arquivo_md",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        288,
        672
      ],
      "id": "4608eb48-4568-408b-a684-7ac955f402e6",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "payload.items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -352,
        672
      ],
      "id": "db55cbf7-401a-4a32-9a9f-7ced043db026",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        528
      ],
      "id": "4ba387d1-0db1-4dd8-a473-8c79353af980",
      "name": "Merge1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('HTTP Request').item.json.payload.total_paid < 0 ? '💰 Renda' : '💸 Despesa' }} de Alimentação com {{ $('HTTP Request').item.json.payload.store_name }} no valor de R$ {{ $('HTTP Request').item.json.payload.total_paid.toFixed(2).replace('.', ',') }} registrada com sucesso!\n\n💳 Pago via: {{ $('HTTP Request').item.json.payload.payment_method.toLowerCase().includes('cartão de') ? $('HTTP Request').item.json.payload.payment_method.toLowerCase().substring(10) : $('HTTP Request').item.json.payload.payment_method.toLowerCase() }} em {{ $('HTTP Request').item.json.payload.issuance_date_time.split(' ')[0] }} ✅\n\n💎 Obsidian: OK",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        528
      ],
      "id": "9b9f8b8b-58a7-4fab-9d14-56cacdf738f6",
      "name": "Send a text message2",
      "webhookId": "20574220-0b4b-443b-ba61-43d19731ea00",
      "credentials": {
        "telegramApi": {
          "id": "pA8h2sk2I57E68mE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03c88052-3b2e-42e8-8bcc-91af1ea943c7",
              "name": "conteudo_pai",
              "value": "=---\ndescricao: {{ $('HTTP Request').item.json.payload.store_name }}\ncategoria: Alimentação\ndata: {{ $('HTTP Request').item.json.payload.issuance_date_time.split(' ')[0].split('/').reverse().join('-') }}\nvalor: {{ $('HTTP Request').item.json.payload.total_paid }}\nvalor_saldo: -{{ $('HTTP Request').item.json.payload.total_paid }}\nmeio_pagamento: {{ $('HTTP Request').item.json.payload.payment_method.toLowerCase().includes('cartão de') ? $('HTTP Request').item.json.payload.payment_method.toLowerCase().substring(10) : $('HTTP Request').item.json.payload.payment_method.toLowerCase() }}\nfluxo: Saída\ntags:\n  - \"#Finanças/Lançamento\"\nnfe_chave: \"{{ $('HTTP Request').item.json.chave }}\"\ncriado_em: {{ new Date().toLocaleString('pt-BR') }}\n---\n# Registro de Finanças {{ $('HTTP Request').item.json.payload.store_name }}\n\n## Itens da Nota\n{{ \n  $('HTTP Request').item.json.payload.items.map((item, index) => {\n    const data = $('HTTP Request').item.json.payload.issuance_date_time.split(' ')[0].split('/').reverse().join('');\n    const hora = $('HTTP Request').item.json.payload.issuance_date_time.split(' ')[1].replace(':', '').substring(0, 4);\n    const pos = (index + 1).toString().padStart(2, '0');\n    const nomeLimpo = item.name.replace(/[^a-zA-Z0-9]/g, '_');\n    \n    // ESTE É O NOME DO ARQUIVO QUE O FILHO GEROU\n    const nomeArquivoFilho = `${data}_${hora}_${pos}_${nomeLimpo}`;\n    \n    return `- [[${nomeArquivoFilho}|${item.name}]]: R$ ${item.item_total.toFixed(2)}`;\n  }).join('\\n') \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        432
      ],
      "id": "e35cb988-e253-4f65-b2f4-5e4f5392f907",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03c88052-3b2e-42e8-8bcc-91af1ea943c7",
              "name": "conteudo_filho",
              "value": "=---\nitem: {{ $json.name }}\nquantidade: {{ $json.quantity }}\nunidade: {{ $json.unit }}\nvalor_unitario: {{ $json.unit_value }}\nvalor_total: {{ $json.item_total }}\ncompra_ref: \"[[{{ $('HTTP Request').item.json.payload.issuance_date_time.split(' ')[0].split('/').reverse().join('') }}_{{ $('HTTP Request').item.json.payload.issuance_date_time.split(' ')[1].replace(':', '').substring(0,4) }}_Mercado_{{ $('HTTP Request').item.json.payload.total_paid.toFixed(2).replace('.', '') }}_S]]\"\ntags:\n  - \"#Item\"\n---\n# {{ $json.name }}\n\n- **Qtd:** {{ $json.quantity }} {{ $json.unit }}\n- **Preço Unit:** R$ {{ $json.unit_value }}\n- **Total do Item:** R$ {{ $json.item_total }}\n\n---\nItem nº {{ $itemIndex + 1 }} da compra: [[{{ $('HTTP Request').item.json.payload.issuance_date_time.split(' ')[0].split('/').reverse().join('') }}_{{ $('HTTP Request').item.json.payload.issuance_date_time.split(' ')[1].replace(':', '').substring(0,4) }}_Alimentacao_{{ $('HTTP Request').item.json.payload.total_paid.toFixed(2).replace('.', '') }}_S]]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        672
      ],
      "id": "386b7ec7-c989-4ad5-b8b0-624efb5417e5",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram GetFile (imagem)": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram GetFile (áudio)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram GetFile (imagem)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram GetFile (áudio)": {
      "main": [
        [
          {
            "node": "Analyze audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create a database page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "ZmoZR16fLKp6vajl",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ef08e274-4375-421a-822b-a72ae32d7816",
  "meta": {
    "instanceId": "e458d89e0fb8d37487b57b587f3fef3cfb1e7fafe0dcb945464e4d8f8e9790f8"
  },
  "id": "lBjCFuykT5deAGKn",
  "tags": []
}